/*
----------------------------------
Toni Valverde Frontend
github.com/Tovape
HTML / CSS / JS Portafolio Webpage
Ver 4.1
/*

/*
----------------------------------
Color Configuration
----------------------------------
*/

:root {
	
	/* Color Palette */
	
	--black: #202020;
	--white: #F0F0F0;
	--snowy: #DFDFDF;
	--grey: #B7B7B7;
	--graphite: #7C7C7C;
	--main: #f2cd66;
	--sec: #F2DC9D;
	
	/* Shadow Palette */
	
	--blackop1: rgba(0,0,0,0.4);
	--blackop2: rgba(0,0,0,0.6);
	
	/* Fonts */
	
	--raleway: 'Raleway', sans-serif;
	--trebuchet: 'Trebuchet MS';
}

/*
----------------------------------
Element Configuration
----------------------------------
*/

@font-face {
	font-family: 'Trebuchet MS';
	font-style: normal;
	font-weight: normal;
	src: local('Trebuchet MS'), url('font/trebuc.woff') format('woff');
}


@font-face {
	font-family: 'Trebuchet MS Italic';
	font-style: normal;
	font-weight: normal;
	src: local('Trebuchet MS Italic'), url('font/Trebuchet-MS-Italic.woff') format('woff');
}

html{
	zoom: 90%; 
	scroll-behavior: smooth;
	margin: 0px;
	padding: 0px;
	height: 100%;
	width: 100%;
}

body {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
	font-family: var(--trebuchet);
	transition: all 0.5s ease-in-out;
	-webkit-transition: all 0.5s ease-in-out;
	z-index: 1;
	background-image: url('img/background/wind.png');
	background-size: cover;
	animation: body 40s infinite;
	animation-timing-function: ease-in-out;
	-webkit-animation-timing-function: ease-in-out;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
	animation-play-state: running;
}

button{
	background-color: transparent;
	border: 0;
	margin: 0;
	padding: 0;
	cursor: pointer;
}

a{
	color: var(--white);
	text-decoration: none;
}

hr {
	border: none;
    background-color: var(--main);
    color: var(--main);
    height: 1px;
}

ul{
	text-decoration: none;
	padding: 1rem 0rem;
}

li{
	display:inline-block;
	color: var(--grey);
}

li:after {
  content: ' |';
}

li:last-child:after {
  content: '';
}

/*
----------------------------------
Body Images Animation Configuration
----------------------------------
*/

@keyframes body {
	
0% {
	background-image: url('img/background/wind.png');
}

19% {
	background-image: url('img/background/wind.png');
}

20% {
	background-image: url('img/background/goldengate.png'); 
}

39% {
	background-image: url('img/background/goldengate.png'); 
}

40% {
	background-image: url('img/background/guitar.png'); 
}

59% {
	background-image: url('img/background/guitar.png'); 
}

60% {
	background-image: url('img/background/antonov225.png'); 
}

79% {
	background-image: url('img/background/antonov225.png'); 
}

80% {
	background-image: url('img/background/volvofront.png'); 
}

99% {
	background-image: url('img/background/volvofront.png'); 
}

100% {
	background-image: url('img/background/wind.png');
}

}

/*
----------------------------------
Right Configuration
----------------------------------
*/

.right{
	height: 100%;
	width: 50%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start; 
	padding-left: 2rem; 
	text-align: left;
	background-color: var(--blackop1);
	transition: all 0.5s ease-in-out;
}

.right .sub-menu p{
	transition: all 0.2s ease-in-out;
	font-weight: bold;
	color: var(--white);
	padding-bottom:1rem;
	text-align:left;
}

.right .sub-menu p:hover{
	color: var(--sec);
}

.right .sub-menu .active {
	color: var(--main);
}

.right img{
	transition: all 0.2s ease-in-out;
	width:40px;
	height:40px;
}

.right img:hover{
	transform: rotate(90deg);	
}

/*
----------------------------------
Left Configuration
----------------------------------
*/

.left{
	height: 100%;
	width: 50%;
	display: flex;
	flex-direction: column;
	align-items: flex-end; 
	justify-content: center;
	padding-right: 2rem;
	text-align: right;
	background-color: var(--blackop1);
}

.left h1 {
	line-height: 0.4;
	font-size: 5rem;
	font-family: var(--raleway);
	color: var(--white);
}

.left h2 {
	line-height: 0;
	margin: -0.6rem 0;
	font-size: 1.3rem;
	font-family: var(--trebuchet);
	color: var(--sec);
}

.left-responsive {
	display: none;
}

.social {
	width: 100%;
    display: flex;
	align-items: right; 
	justify-content: right;
	margin-top: -1rem;
}

.social img{
	width: auto;
	height: 100%;
	z-index: 1;
}

.social a {
	position: relative;
	display: inline;
	align-items: center;
	padding: 5px;
	width: 20px;
	height: 20px;
	border: 1px solid var(--sec);
	border-radius: 20px;
	margin-right: 3%;
	transition: all 0.2s ease-in-out;
}

.youtube:hover {
	border: 1px solid #FF0000;
	transition: all 0.2s ease-in-out;
}

.reddit:hover {
	border: 1px solid #FF5700;
	transition: all 0.2s ease-in-out;
}

.linkedin:hover {
	border: 1px solid #0077b5;
	transition: all 0.2s ease-in-out;
}

.github:hover {
	border: 1px solid #333;
	transition: all 0.2s ease-in-out;
}

/*
----------------------------------
ItemBox Configuration
----------------------------------
*/

.itemBox{
	display: none;
	width:100%;
}

.itemBoxSkill,.itemBoxWork{
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	vertical-align:top;
}

/*
----------------------------------
Content Configuration
----------------------------------
*/

.content-flex{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center; 
	height: 100%;
	width: 100%;
	overflow-y: hidden;
}

.content-wrap{
	width:0;
	height: 100%;
	border-left:1px solid var(--grey);
	border-right:1px solid var(--grey);
	position: relative;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center; 
	background-color: var(--blackop2);
}

.content{
	height: 100%;
	width: 100%;
	overflow-y: scroll;
	scroll-behavior: smooth;
	position: relative;
}

.container{
	display: flex;
	flex-direction: column;
	width: 100%;
}

.container p {
	color: var(--white);
}

.container h3 {
	width: auto;
	color: var(--sec);
	text-align:center;
}

.container-title{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center; 
	width: 100%;
}

.container-title h1 {
	width: auto;
	color: var(--main);
	text-align:center;
	padding: 0rem 1rem 0rem 2rem;
}

.container-title hr {
	margin: 0rem 2rem 0rem 1rem;
	width: 100%;
}

/*
----------------------------------
Introduction Configuration
----------------------------------
*/

.container-introduction{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center; 
}

.container-introduction p{
	color: var(--white);
	width: 80%;
}

.container-introduction .p-img-float {
	line-height: 2;
}

.container-introduction .p-img-float img {
	width: 30%;
	float:right;
	padding-left: 2rem;
	padding-bottom:2rem;
}

/*
----------------------------------
Skills Configuration
----------------------------------
*/

.container-skills-each{
	width: 6rem;
	margin: 2%;
	padding: 2%;
	border-radius: 1rem;
	background-color: var(--blackop1);
	box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.3);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center; 
}

.container-skills-each p {
	text-align:center;
}

.container-skills-each img {
	width: 50%;
}

.skill-selector-flex{
	display:flex;
	flex-direction: row;
	justify-content: center;
	align-items: center; 	
}

.active {
	color: var(--main);
}

.skill-selector-flex h2 {
	width: auto;
	text-align:center;
	font-size: 1rem;
	padding: 0rem 2rem;
	cursor: pointer;
	transition: all 0.2s ease-in-out;
}

.skill-selector-flex h2:not(.active){
	color: var(--white);
}

.skill-selector-flex h2:hover {
	color: var(--sec);
	transition: all 0.2s ease-in-out;
}

.progress{
	border-radius: 2rem;
	background-color: var(--grey);
	width: 100%;
	margin: 0 auto;
	color: white;
}

.bar{
	border-radius: 2rem;
	padding: 0.1rem;
	text-align:center;
}

/*
----------------------------------
Work Configuration
----------------------------------
*/

.container-work-each{
	width: 8em;
	margin: 2%;
	padding: 2%;
	border-radius: 1rem 0rem 1rem 1rem;
	background-color: var(--blackop1);
	box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.3);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center; 
	position:relative;
}

.container-work-each a {
	text-align:center;
	padding: 1rem 0rem 0.4rem 0rem;
}

.container-work-each img {
	width: 50%;
}

/*
----------------------------------
Small Icons Configuration
----------------------------------
*/

.container-work-setting{
	position: absolute;
	right: 5px;
	top: 0px;
	z-index:9;
	display: flex;
	flex-direction: column;
}

.container-work-setting img {
	position: relative;
	padding: 0rem 0.2rem;
	width: 13px;
	height:auto;
	padding: 2px 0px;
}

.work-selector-flex{
	display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.work-selector-flex h2 {
	width: auto;
	text-align:center;
	font-size:1rem;
	padding: 0rem 2rem;
	cursor: pointer;
	transition: all 0.2s ease-in-out;
}

.work-selector-flex h2:not(.active){
	color: var(--white);
}

.work-selector-flex h2:hover {
	color: var(--sec);
	transition: all 0.2s ease-in-out;
}

.work-selector-flex h2 {
	width: auto;
	text-align:center;
	font-size: 1rem;
	padding: 0rem 2rem;
	cursor: pointer;
	transition: all 0.2s ease-in-out;
}

.work-selector-flex h2:not(.active){
	color: var(--white);
}

.work-selector-flex h2:hover {
	color: var(--sec);
	transition: all 0.2s ease-in-out;
}

/*
----------------------------------
Blender Configuration
----------------------------------
*/

.container-work-each-blender{
	width: 10rem;
	margin: 2%;
	padding: 0%;
	border-radius: 1rem;
	background-color: var(--blackop1);
	box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.3);
	display: flex;
	flex-direction: column;
}

.container-work-each-blender p {
	text-align:center;
}

.container-work-each-blender img {
	width: 100%;
	top:0;
	border-radius: 1rem;
}

/*
----------------------------------
Contact Configuration
----------------------------------
*/

.container-contact {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center; 
}

.container-contact p {
	color: var(--sec);
	width: 80%;
	text-align: center;
}

.contact-flex-row{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center; 	
}

.contact-flex-column{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center; 	
}

.contact-flex-row i {
	padding: 1rem;
}

.contact-flex-column i {
	padding: 1rem;	
}

.contact-flex-column a {
	padding: 1rem;
}

/*
----------------------------------
Powered Configuration
----------------------------------
*/

.powered{
    display: flex;
    flex-wrap: wrap;
	align-items: center; 
	justify-content: center;	
}

.powered img {
	width: 10rem;
	height: 10rem;
	padding: 1rem;
}

/*
----------------------------------
Logo Configuration
----------------------------------
*/

.logo {
	position: absolute;
	height: 4rem;
	width: 4rem;
	top: 8vw;
	z-index:2;
}

.logo svg {
	position: absolute;
	height: 4rem;
	width: 4rem;
}

/*
----------------------------------
LanguageConfiguration
----------------------------------
*/

.language{
	position: relative;
	display: inline-block;	
}

.dropbtn {
	background-color: transparent;
	color: white;
	border: none;
	cursor: pointer;
	font-family: var(--trebuchet);
	font-size:1rem;
	font-weight: bold;
	transition: all 0.2s ease-in-out;
}

.dropbtn:hover {
	color: var(--sec);
	transition: all 0.2s ease-in-out;
}

.dropdown-content {
	display: none;
	position: absolute;
	background: linear-gradient(0deg, rgba(0,0,0,0.2) 0%, rgba(0,0,0,0) 100%);
	min-width: 7rem;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
	border-bottom: 1px solid var(--main);
	padding-top: 0.4rem;
}

.dropdown-content a {
	color: black;
	text-decoration: none;
	display: block;
	color: var(--white);
	padding: 0.2rem;
	transition: all 0.2s ease-in-out;
}

.dropdown-content a:hover {
	color: var(--main);
	transition: all 0.2s ease-in-out;
}

.language:hover .dropdown-content {
	display: block;
}


/*
----------------------------------
Open/Close Configuration
----------------------------------
*/

.open{
	animation: open 1s;
}

.opened {
	width: 90%;
}

.close{
	animation: close 1s;
}

@keyframes open {
	
0% {
	width: 0%;
}  

100% { 
	width: 90%;
}

}

@keyframes close {
	
0% {
	width: 90%;
}  

100% { 
	width: 0%;
}

}

/*
----------------------------------
Selectors Configuration
----------------------------------
*/

#closer{
	padding:0;
	margin:0;
}

.sub-menu {
	transition: all 0.2s ease-in-out;
	padding-top: 0rem;
}

.submenu-padding{
	transition: all 0.2s ease-in-out;
	padding-top: 1rem;
}

.selector{
	cursor: pointer;
	transition: all 0.5s ease-in-out;
	position:relative;
}

.selector-before::before {
	content: "\00a0 \00a0 \00a0 \00a0 \00a0 ";
	border-top: 1px solid var(--grey);
	position: absolute;
	left: -2rem;
	top: 0.6rem;
}

.active::before {
	border-top: 1px solid var(--main);
}

.hidden{
	visibility: hidden;
}

.show{
	visibility: visible;
}

.hidder-animation{
	animation: hidder 1s;
}

.show-animation{
	animation: show 1s;	
	visibility: visible;
}

@keyframes hidder {
	
0% {
	opacity: 1;
}  

100% { 
	opacity: 0;
}

}

@keyframes show {
	
0% {
	opacity: 0;
}  

100% { 
	opacity: 1;
}

}

/*
----------------------------------
Scrollbar Configuration
----------------------------------
*/

.content::-webkit-scrollbar {
	width: 0.2em;
	border-radius: 1rem;
}
 
.content::-webkit-scrollbar-track {
	box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.4);
}
 
.content::-webkit-scrollbar-thumb {
	background-color: var(--main);
	border-radius:0px;
}

/*
----------------------------------
Top Button Configuration
----------------------------------
*/

.top {
	display: block;
	opacity: 0;
	position: fixed;
	left: 48%;
	bottom: 1rem;
	z-index: 9;
	font-size: 18px;
	border: none;
	outline: none;
	text-align: center;
	border: 1px solid var(--main);
	background-color: var(--black);
	color: white;
	cursor: pointer;
	padding: 15px;
	border-radius: 5rem;
	transition: all 0.2s ease-in-out;
}

.top:hover {
	border: 1px solid var(--black);
	background-color: var(--main);
	transition: all 0.2s ease-in-out;
}

.top-visible{
	opacity: 1;
	transition: all 0.2s ease-in-out;
}

/*
----------------------------------
Media Configuration
----------------------------------
*/

@media only screen and (max-width: 1200px) {
	
.left h1 {
    font-size: 3rem;
}

.left h2 {
    line-height: 0;
    margin: 0rem 0rem -0.8rem 0rem;
}

}

@media only screen and (max-width: 800px) {

.content-flex{
	flex-direction: column;
	overflow:hidden;
}

.content-wrap{
	height: 60%;
	width: 0%;
	border: none;
}

.open {
	width:100%;
}

.content {
	width:100%;
}

.left {
	display: none;
}

.left-responsive {
	height: 20%;
	width: 100%;
	display: flex;
	flex-direction: row;
    flex-wrap: wrap;
	align-items: center; 
	justify-content: center;
	background-color: var(--blackop1);
}

.left-responsive-each h1,h2 {
	color: var(--white);
	padding-left: 2rem;
}

.left-responsive-each {
	width: 33%;
}

.left-responsive-each ul{
	padding-left: 1rem;
}

.social {
	height: 100%;
	margin-left: -2rem;
	align-items: center; 
	justify-content: center;	
	flex-wrap: wrap;
}

#closer {
	padding-top: 2rem;
	padding-right: 2rem;
}

.right {
	width: auto;
	height: 20%;
	width: 96%;
    flex-direction: row;
}

.sub-menu {
	display:flex;
	flex-direction: row;
	flex-wrap: wrap;
	padding-top: 1rem;
}

li:after {
    content: '';
}

.selector {
	padding: 2vw;
	width: auto;
}

.selector-before::before {
    content: "";
    border-top: 0px solid var(--grey);
}

.language {
	padding: 2rem 0rem;
	margin-left: 1rem;
	margin-right: 2rem;
}

.dropdown-content {
	right: 0;
}

.lanhover a {
	text-align: right;
}

.top-visible {
    display: none;
}

.top {
    display: none;
}

.container-title hr {
    margin: 0rem 2rem 0rem 1rem;
	width: 80%;
}

@keyframes open {
	
0% {
	width: 0%;
}  

100% { 
	width: 100%;
}

}

@keyframes close {
	
0% {
	width: 100%;
}  

100% { 
	width: 0%;
}

}

}

@media only screen and (max-width: 610px) {

.left-responsive-each h1,h2 {
	font-size: 1.2rem;
	padding-right: 1rem;
}

}

@media only screen and (max-width: 610px) {

.left-responsive-each {
	width: 40%;
}

.social {
	flex-direction: column;
	margin-left: 0;
}

.left-responsive-each-social {
    width: 20%;
}

.right .sub-menu p {	
	padding: 2vw;
	margin:0;
}

}